*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#superior{
    background-color: black;
    display: flex;
    right: auto;
    color: white;
    height: 20px;
}
#superior div{
    position: absolute;
    right: 20px;
    display: flex;
}
.item{
    margin: 0px 10px;
}
#superior ul{
    position: relative;
    right: 10px
}
#inferior{
    height: 50px;
    display: flex;
    background-color: #F0A83E;
}
#inferior div{
    margin: 15px 10px;
    width: 100%;
    display: flex;
}
#inferior ul{
    position: absolute;
    right: 10px;
    display: flex;
}
#inferior ul li{
    margin: 15px 10px;
    border-radius: 0.5em;
    color: #F2FBEF;
    display: block;
    text-decoration: none;
}
#fondoImg{
    height: 409px;;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#fondoImg div{
    height: 150px;
    position: absolute;
    top: 40%;
    right: 10%;
}
.anuncio{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
h2{
    background-color: #F2FBEF;
    padding: 10px 15px;
    border-radius: 0.3em;
}
#come{
    text-decoration: none;
    color: #F2FBEF;
    background-color: #F0A83E;
    display: inline-block;
    padding: 11px 17px;
    border-radius: 0.5em;
}
h1{
    text-align: center;
}
#servicios{
    text-align: center;
}
.servi{
    display: inline-block;
    padding: 10px;
}
#contenedor{
    display: flex;
}
.contenido{
margin: auto;
text-align: center;
}
.precio{
    color: #F0A83E;
}
/* formularios */
#formulario{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.datos{
    display: flex;
}
#botones{
    display: inline-block;
}